header {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  margin-bottom: 50px;
  font-family: 'Roboto', sans-serif;
  border-bottom: 1px solid rgb(110, 114, 117);
}

.searchSec {
  padding: 15px 100px 15px 150px;
}

.searchSec a {
  text-decoration: none;
  color: rgb(110, 114, 117);
  margin-left: 36%;
}

.appName {
  font-size: 2em;
}

.desc {
  font-size: 25px;
  color: rgb(110, 114, 117);
}

form {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-left: 27%;
}

.searchBar {
  margin-left: 15px;
  margin-right: 15px;
  width: 120px;
  border: 1px solid rgb(132, 137, 141);
  color: rgb(132, 137, 141);
  background-color: white;
  border-radius: 1px;
  font-size: 20px;
}

.numberCount {
  margin-left: 10px;
  width: 45px;
  border-radius: 1px;
  font-size: 20px;
}

.submitButton {
  margin-left: 15px;
  border: 1px solid rgb(132, 137, 141);
  color: white;
  background-color: rgb(147, 154, 159);
  border-radius: 1px;
  font-size: 20px;
}

.submitButton:hover {
  border: 1px solid red;
  background-color: white;
  color: red;
  cursor: pointer;
}

main {
  font-family: 'Roboto', sans-serif;
}


.resultsList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.getRec {
  border: 1px solid rgb(132, 137, 141);
  color: white;
  background-color: rgb(147, 154, 159);
  border-radius: 1px;
  font-size: 20px;
  width: 315px;
  table-layout: fixed;
  margin: 10px 0px 10px 0%;
}

.getRecLi {
  display: flex;
  justify-content: center;
  align-items: center;
}

.getRec:hover {
  border: 1px solid red;
  background-color: white;
  color: red;
  cursor: pointer;
}

.stepsjs {
  width: 700px;
}

h3 {
  border-bottom: 1px solid rgb(110, 114, 117);
  font-size: 25px;
  color: rgb(110, 114, 117);
}

li {
  list-style-type: none;
}

.stepsjs {
  margin: 10px auto 10px auto;
}

img {
  width: 560px;
  height: 370px;
}